body{
    margin:0px;
}

#main-container{
    display: grid;
    width: 600px;
    height: 600px;
    border:solid;  
}
.flex-container{
    display: flex;
    justify-content: center;
    
}

.button-container{
    display: flex;
    justify-content: center;
}