body{
    margin:0px;
}
.pixels{
    box-shadow: 1px 1px 1px 1px;
    margin: 0px;
    
    width: 6.25%; 
    box-sizing: border-box;  
}
.thirty-grid{
    box-shadow: 0 0 0 1px black;
    margin: 0px; 
    width: 3.125%;
    
}
.sixty-grid{
    box-shadow: 0 0 0 1px black;
    margin: 0px; 
    width: 1.5625%;
}
#main-container{
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    margin: 0px;
    border: solid;
    
}
.flex-container{
    display: flex;
    justify-content: center;
    
}
.button-container{
    display: flex;
    justify-content: center;
}