@import url('http://fonts.cdnfonts.com/css/letter-sketch');
*{
    box-sizing: border-box;
}
body{
    margin:0px;
    background-color: #3c464d;
}
h1{
    font-family: 'Letter Sketch', sans-serif;
    color:#f625da;
    font-size:7em;
    margin: 0px;
}
.header{
    text-align: center;
    width: 100%;
}
.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100vw;
    height: 100vh;
    gap: 40px;
}
.flex-row{
    display: flex;
    width: 100%;
    justify-content: center;
}
.button-container{
    display: flex;
    margin-right: 50px;
    background-color: rgba(246, 37, 218, 0.5);
}
.controller{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding:10px;
    gap:20px;
    border: solid black;
    width: 30vw;
    
}
.buttons{
    width:50%;
    font-size:100%;
}
#color-picker{
    font-size: 2em;
    font-family: 'Letter Sketch', sans-serif;
    color: white;
}
#favcolor{
    border-radius: 100px;
    width: 30px;
    height: 30px;
    border: none;
}
#main-container{
    display: grid;
    width: 50vw;
    height: 50vw;
    min-width:300px;
    min-height:300px;
    max-width: 600px;
    max-height: 600px;
    box-shadow:10px 11px 12px #f625da;
    /*box-shadow: 0 10px 9px rgba(207, 56, 169, 0.75);*/
    background-color: whitesmoke;
   
}
.main-flex{
    display: flex;
}
.fade{
    transition-property: background-color;
    transition-duration:1.5s;
    transition-delay: 0s;
}
#eraser:visited{
    background-color: red;
}


.slider-container{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.color-container{
    display:flex;
    flex-direction: column;
    align-items: center;
}
#grid-output{
    font-family:sans-serif;
    color:violet;
    font-size: 1em;
}

.shakeMe{
    display: grid;
    width: 600px;
    height: 600px;
    animation: shake 0.5s;
    animation-iteration-count: 1;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }